[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=mayur
WorkingDirectory=/home/mayur/sites/DOMAIN
EnvironmentFile=/home/mayur/sites/DOMAIN/.env

ExecStart=/home/mayur/sites/DOMAIN/virtualenv/bin/gunicorn --bind unix:/tmp/superlists-staging.mayurpande.com.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target